<div id="welcome">

  <template id="election-result-table-template">
    <div class="xcontainer">
      <div class="row" style="margin: 0px;">
        <div class="col-md-6">
          <p><u>SMS Result Format To <em><b>07065644515</b></em></u><br/><em><b>1, APC-550, PDP-250, SDP-209, ANPP-89, 31/01/01/001</b></em><br/>
          <h1 class="lead">Election Result</h1>
          <table class="table table-striped" style="font-size: 12px;">
            <thead>
              <tr>
                <th>PU</th>
                <th>Zone</th>
                <th>LG</th>
                <th>Ward</th>
                <th>Party</th>
                <th>Vote</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="electionresult in electionresults.slice().reverse()">
                <td>{{electionresult.pollingUnit}}</td>
                <td>{{electionresult.senatorialZone}}</td>
                <td>{{electionresult.localGovernment}}</td>
                <td>{{electionresult.ward}}</td>
                <td>{{electionresult.party}}</td>
                <td>{{electionresult.vote}}</td>
                <td>{{electionresult.timeAgo}}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-md-6">
          <p><u>SMS Result Format To <em><b>07065644515</b></em></u><br/><em><b>2, 002:31/01/01/001, followed by your text</b></em><br/>
          <h1 class="lead">Incidence</h1>
          <table class="table table-striped" style="font-size: 12px;">
            <thead>
              <tr>
                <th>PU</th>
                <th>Zone</th>
                <th>LG</th>
                <th>Ward</th>
                <th>Incidence</th>
                <th>Description</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="incidencereport in incidencereports.slice().reverse()">
                <td>{{incidencereport.pollingUnit}}</td>
                <td>{{incidencereport.senatorialZone}}</td>
                <td>{{incidencereport.localGovernment}}</td>
                <td>{{incidencereport.ward}}</td>
                <td>{{incidencereport.incidenceCode}}</td>
                <td>{{incidencereport.text}}</td>
                <td>{{incidencereport.timeAgo}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    </div>
  </template>
  

  <router-view></router-view>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
