<div id="welcome">

  <template id="election-result-table-template">
    <div class="container" style="margin-top: 30px; margin-left: 0px;">
        <div class="row">
        <div class="col-md-7">
          <h1 class="lead">Election Result</h1>
          <table class="table table-striped" style="font-size: 12px;">
            <thead>
              <tr>
                <th>PU</th>
                <th>Zone</th>
                <th>LG</th>
                <th>Ward</th>
                <th>Party</th>
                <th>Vote</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="electionresult in electionresults.slice().reverse()">
                <td>{{electionresult.pollingUnit}}</td>
                <td>{{electionresult.senatorialZone}}</td>
                <td>{{electionresult.localGovernment}}</td>
                <td>{{electionresult.ward}}</td>
                <td>{{electionresult.party}}</td>
                <td>{{electionresult.vote}}</td>
                <td>{{electionresult.timeAgo}}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-md-5">
          <h1 class="lead">Leaderboard</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
          <h1 class="lead">Incidence</h1>
          <table class="table table-striped" style="font-size: 12px;">
            <thead>
              <tr>
                <th>PU</th>
                <th>Zone</th>
                <th>LG</th>
                <th>Ward</th>
                <th>incidence</th>
                <th>Description</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="incidencereport in incidencereports.slice().reverse()">
                <td>{{incidencereport.pollingUnit}}</td>
                <td>{{incidencereport.senatorialZone}}</td>
                <td>{{incidencereport.localGovernment}}</td>
                <td>{{incidencereport.ward}}</td>
                <td>{{incidencereport.incidenceCode}}</td>
                <td>{{incidencereport.description}}</td>
                <td>{{incidencereport.timeAgo}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    </div>
  </template>
  

  <router-view></router-view>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
