<div id="welcome">

  <template id="election-result-table-template">
    <div class="xcontainer">
        <section class="statistics text-center">
            <div class="data">
              <div class="container">
                <h2><%= pageName %></h2>
                <div class="row">
                  
                  <div v-for="result in resultSummary" class="col-md-3 col-sm-6 col-xs-12">
                    <div class="stats">
                      <center>
                        <img v-if="result.party === 'PDP'" src="/images/parties/pdp.jpg"/>
                        <img v-else-if="result.party === 'SDP'" src="/images/parties/sdp.png"/>
                        <img v-else-if="result.party === 'APC'" src="/images/parties/apc.jpg"/>
                        <img v-else-if="result.party === 'APGA'" src="/images/parties/apga.png"/>
                        <img v-else-if="result.party === 'ADP'" src="/images/parties/adp.png"/>
                        <img v-else-if="result.party === 'ANN'" src="/images/parties/ann.jpg"/>
                        <img v-else-if="result.party === 'AD'" src="/images/parties/ad.jpg"/>
                        <img v-else src="/images/parties/default.png"/>
                        <p>{{result.totalVotes ? result.totalVotes.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") : 0}}</p>
                        <span>{{result.party}}</span>
                      </center>
                    </div>
                  </div>
                  
                  
                </div>
              </div>
            </div>
          </section>

      <div class="row" style="margin: 0px; padding-top: 25px;">
        <div class="col-xs-12 col-sm-12 col-lg-6">
            <% if (controlLevel === "WARD" ) { %>
              <p>
                <u>SMS Result Format To <em><b>07065644515</b></em></u><br/><em><b>1, APC-550, PDP-250, SDP-209, ANPP-89, 31/01/01/001</b></em>
                <br/>
                <em><b>3, APC-550, PDP-250, SDP-209, ANPP-89, 31/01/01/001</b></em>
                <br/>
                <span style="font-size: 10px;">Where 1 = Send presidential result, 3 for Senatorial; PARTY1-VOTE, PARTY2-VOTE,PARTYN-VOTE = Parties and votes; 31/01/01/001 = Polling Unit</span>
              </p>
              <% } else { %>
                <p>
                    <u>SMS Result Format To <em><b>07065644515</b></em></u><br/><em><b>1, APC-550, PDP-250, SDP-209, ANPP-89</b></em>
                    <br/><em><b>3, APC-550, PDP-250, SDP-209, ANPP-89</b></em>
                    <br/><span style="font-size: 10px;">Where 1 = Send result, 3 for Senatorial; PARTY1-VOTE, PARTY2-VOTE,PARTYN-VOTE = Parties and votes</span>
                  </p>
              <% } %>
    
              <% if (controlLevel === "WARD" ) { %>
                <p>
                  <u>SMS Result Format To <em><b>7447</b></em></u><br/><em><b>Check 1 APC 550 31/01/01/001</b></em>
                  <br/><em><b>Check 3 APC 550 31/01/01/001</b></em>
                  <br/><span style="font-size: 10px;">Check is compulsory; 1 = Send presidential result, 3 for Senatorial; APC as party followed by votes then Polling Unit 31/01/01/001</span>
                </p>
                <% } else { %>
                  <p>
                      <u>SMS Result Format To <em><b>7447</b></em></u><br/><em><b>Check 1 APC 550</b></em>
                      <br/><em><b>Check 3 APC 550</b></em>
                      <br/><span style="font-size: 10px;">Check is compulsory; 1 = Send presidential result, 3 for Senatorial; APC as party followed by votes</span>
                    </p>
                <% } %>
          <h1 class="lead">Election Result Notification</h1>
          <table class="table table-striped table-responsive" style="font-size: 11px;">
            <thead>
              <tr>
                <th>PU</th>
                <th>PU Name</th>
                <th>Sender</th>
                <th>Phone</th>
                <!-- <th>Zone</th> -->
                <th>LG</th>
                <th>Ward</th>
                <th>Party</th>
                <th>Vote</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody v-for="(electionresult, i) in electionresults.slice().reverse()" :key="i">
              <tr :class="getClass(electionresult)">
                <td>{{electionresult.pollingUnit}}</td>
                <td>{{electionresult.pollingUnitName}}</td>
                <td>{{electionresult.phoneUserName}}</td>
                <td>{{'0' + electionresult.phone.substr(3)}}</td>
                <!-- <td>{{electionresult.senatorialZone}}</td> -->
                <td>{{electionresult.localGovernment}}</td>
                <td>{{electionresult.ward}}</td>
                <td>{{electionresult.party}}</td>
                <td>{{electionresult.vote.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}</td>
                <td>{{electionresult.timeAgo}}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-6">
        <% if (controlLevel === "WARD" ) { %>
        <p><u>SMS Incidence Format To <em><b>07065644515</b></em></u><br/><em><b>2, 201:31/01/01/001, followed by your text</b></em>
          <br/><span style="font-size: 10px;">Where 2 = Send Incidence; 201 = Incidence Code; 31/01/01/001 = Polling Unit, Then your comment</span>
        </p>
        <% } else { %>
          <p><u>SMS Incidence Format To <em><b>07065644515</b></em></u><br/><em><b>2, 201, followed by your text</b></em>
            <br/><span style="font-size: 10px;">Where 2 = Send Incidence; 201 = Incidence Code; Then your comment</span>
          </p>
        <% } %>

        <% if (controlLevel === "WARD" ) { %>
          <p><u>SMS Incidence Format To <em><b>7447</b></em></u><br/><em><b>Check 2 224:31/01/01/001 your text follows</b></em>
            <br/><span style="font-size: 10px;">Where 2 = Send Incidence; 224 = Incidence Code; 31/01/01/001 = Polling Unit,  Your comment e.g <i>"police violence"</i></span>
          </p>
          <% } else { %>
            <p><u>SMS Incidence Format To <em><b>7447</b></em></u><br/><em><b>Check 2 201 your text follows</b></em>
              <br/><span style="font-size: 10px;">2 = Send Incidence; 201 = Incidence Code; Comment<i>"Someone tampered with ballot box"</i></span>
            </p>
          <% } %>
          <h1 class="lead">Incidence Reports</h1>
          <table class="table table-striped table-responsive" style="font-size: 11px;">
            <thead>
              <tr>
                <th>PU</th>
                <th>PU Name</th>
                <th>Sender</th>
                <th>Phone</th>
                <!-- <th>Zone</th> -->
                <th>LG</th>
                <th>Ward</th>
                <th>Incidence</th>
                <th>Description</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody v-for="(incidencereport, i) in incidencereports.slice().reverse()" :key="i">
                <tr :class="getIncidenceClass(incidencereport)">
                <td>{{incidencereport.pollingUnit}}</td>
                <td>{{incidencereport.pollingUnitName}}</td>
                <td>{{incidencereport.phoneUserName}}</td>
                <td data="{{incidencereport.id}}">{{'0' + incidencereport.phone.substr(3)}}</td>
                <!-- <td>{{incidencereport.senatorialZone}}</td> -->
                <td>{{incidencereport.localGovernment}}</td>
                <td>{{incidencereport.ward}}</td>
                <td>{{incidencereport.incidenceCode}}</td>
                <td>{{incidencereport.text}}</td>
                <td>{{incidencereport.timeAgo}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <div id="row" v-if="smserrors.length > 0">
      <h1>SMS Errors</h1>
      <table class="table table-striped table-responsive" style="font-size: 14px;">
          <thead>
            <tr>
              <th>LG</th>
              <th>Ward</th>
              <th>Name</th>
              <th>Phone</th>
              <th>SMS</th>
              <th>Time Ago</th>
              <th>?</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="error in smserrors.slice().reverse()">
              <td>{{error.localGovernment}}</td>
              <td>{{error.ward}}</td>
              <td>{{error.phoneUserName}}</td>
              <td>{{error.phone}}</td>
              <td>{{error.sms}}</td>
              <td>{{error.timeAgo}}</td>
              <td>{{error.error}}</td>
            </tr>
          </tbody>
        </table>
    </div>
    </div>
  </template>
  

  <router-view></router-view>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
